.chartContainer{
  width: 75%;
}

.positiveIncome{
  //font-size: 16px;
  position: relative;
  color: #4BB24E;
  padding-right: 15px;
  &::after{
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 12px;
    height: 12px;
    background: url('../images/positiveArrowIconXS.svg') no-repeat;
    background-size: auto;
  }
}

.negativeIncome{
  font-size: 16px;
  position: relative;
  color: #FF0000FF;
  padding-right: 15px;
  &::after{
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 12px;
    height: 12px;
    background-size: auto;
    background: url('../images/negativeArrowIconXS.svg') no-repeat;
  }
}